// main: style.less

.wrapper {
   min-height: 100%;
   &.free .page__pagination {
      transition: all 0.3s ease 0s;
      transform: translateX(-150%);
      opacity: 0;
   }
}

.page {
   // отключаем стандартный скролл
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow: hidden;
   &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
   }
}
.screen {
   // делаем каждый экран фуллскриновым
   flex: 1 0 100%;
   position: relative;
   &__content {
      position: relative;
      z-index: 2;
   }
   &__title {
      color: @black;
      font-size: 64px;

   }
   &__body {
      // для паралакса
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
   }
   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
         object-fit: cover;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
   }
}
