// compress: false

// Blocks
@import "vars";
@import "mixins";
@import "screen";
@import "../blocks/preview";
@import "../blocks/btn";
@import "../blocks/header";
@import "../blocks/pagination";
@import "../blocks/production";
@import "../blocks/constructions";
@import "../blocks/services";
@import "../blocks/advantages";
@import "../blocks/warranty";
@import "../blocks/about";
@import "../blocks/projects";
@import "../blocks/contacts";
@import "../blocks/footer";
@import "../blocks/burger";

.container {
   max-width: 1195px;
   margin: 0 auto;
}
body {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
}

// mod
.color--secondary {
   color: @secondary;
}


