.wrapper {
  min-height: 100%;
}
.wrapper.free .page__pagination {
  transition: all 0.3s ease 0s;
  transform: translateX(-150%);
  opacity: 0;
}
.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.screen {
  flex: 1 0 100%;
  position: relative;
}
.screen__content {
  position: relative;
  z-index: 2;
}
.screen__title {
  color: #434343;
  font-size: 64px;
}
.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.screen__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.preview {
  position: relative;
  background: #4d515a;
  border-radius: 0 0 100px 100px;
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  color: #fff;
  background-position: 12% 40%;
}
@media (min-width: 1800px) {
  .preview {
    background-position: 32% -55px;
  }
}
@media (max-width: 1440px) {
  .preview {
    background-size: 50%;
  }
}
@media (max-width: 900px) {
  .preview {
    background-size: 50%;
    background-position: 50% 15%;
    padding: 0 10px;
    border-radius: 0 0 40px 40px;
  }
}
@media (max-width: 414px) {
  .preview {
    background-size: 91%;
    background-position: 50% 10%;
  }
}
.preview__suptitle {
  font-weight: bold;
  position: relative;
  letter-spacing: 2.5px;
  padding: 29px 0;
}
@media (max-width: 414px) {
  .preview__suptitle {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .preview__suptitle {
    font-size: 10px;
    padding: 20px 0 8px;
    letter-spacing: 0.2px;
    line-height: 0;
    font-weight: 300;
  }
}
.preview__suptitle::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #CAFF5E;
  width: 59px;
  height: 9px;
  border-radius: 37px;
}
@media (max-width: 375px) {
  .preview__suptitle::before {
    width: 33px;
    height: 5px;
  }
}
.preview__title {
  font-weight: 800;
  font-size: 78px;
  max-width: 776px;
  line-height: 1.36;
}
@media (max-width: 1440px) {
  .preview__title {
    font-size: 45px;
    max-width: 470px;
  }
}
@media (max-width: 414px) {
  .preview__title {
    font-size: 38px;
  }
}
@media (max-width: 375px) {
  .preview__title {
    font-size: 27px;
    line-height: 40px;
  }
}
@media (max-width: 280px) {
  .preview__title {
    font-size: 25px;
  }
}
.preview__subtitle {
  font-size: 18px;
  font-weight: 400;
  max-width: 500px;
  line-height: 1.59;
  margin-bottom: 40px;
  margin-top: 52px;
}
@media (max-width: 1440px) {
  .preview__subtitle {
    margin-top: 34px;
  }
}
@media (max-width: 414px) {
  .preview__subtitle {
    margin: 20px 0;
  }
}
@media (max-width: 375px) {
  .preview__subtitle {
    font-size: 14px;
    max-width: 265px;
    margin: 7px 0 0 0;
    line-height: 18px;
    font-weight: 300;
    margin-bottom: 15px;
  }
}
.preview__content {
  margin-left: auto;
  max-width: fit-content;
  padding-top: 197px;
}
@media (max-width: 1440px) {
  .preview__content {
    padding-top: 136px;
    padding-right: 15px;
  }
}
@media (max-width: 414px) {
  .preview__content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 375px) {
  .preview__content {
    padding: 250px 0 0 19px;
  }
}
.preview__container {
  max-width: 435px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .preview__container {
    margin: 0;
  }
}
.round-scroll {
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.round-scroll img {
  width: 100%;
}
@media (max-width: 375px) {
  .round-scroll {
    width: 63px;
    height: auto;
  }
}
.btn__text {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 12px 57px;
  border: 1px solid #CAFF5E;
  border-radius: 57px;
  font-size: 14px;
  background: #42464e;
  transition: all 0.5s ease;
}
.btn__text:hover {
  background: #CAFF5E;
  color: #4d515a;
  transition: all 0.2s ease;
}
@media (max-width: 900px) {
  .btn__text:hover:hover {
    background: none;
  }
}
.request-btn {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  max-width: 320px;
  display: inline-block;
}
@media (max-width: 375px) {
  .request-btn {
    font-size: 13px;
    max-width: 89px;
  }
}
.request-btn::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background: #CAFF5E;
}
@media (max-width: 375px) {
  .request-btn::after {
    width: 34px;
    height: 34px;
    right: -50px;
  }
}
.request-btn::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top: 3px solid #4d515a;
  border-right: 3px solid #4d515a;
  position: absolute;
  right: 40px;
  top: 50%;
  transform-origin: center center;
  transform: rotate(45deg) translateY(-50%);
  z-index: 10;
}
@media (max-width: 375px) {
  .request-btn::before {
    width: 10px;
    height: 10px;
    right: -32px;
    border-width: 2px;
  }
}
.header {
  max-width: 100%;
  padding: 45px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  transition: background 1s ease;
  position: relative;
}
@media (max-width: 1440px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 320px) {
  .header {
    padding-top: 28px;
  }
}
.header.active {
  background: #4d515a;
  transition: background 1s ease;
  position: relative;
}
.header__logo img {
  width: 36px;
  height: auto;
}
@media (max-width: 320px) {
  .header__logo img {
    width: 16px;
    height: auto;
  }
}
.header__menu {
  padding-left: 72px;
}
.header__menu.active {
  position: absolute;
  padding-bottom: 20px;
  top: 100%;
  background: #4d515a;
  z-index: 50;
  transform: translateY(0px);
  transition: all 0.8s ease;
}
.header__menu.active .header__link {
  margin-bottom: 15px;
}
.header__menu.active .header__link:hover {
  border-bottom: none;
}
@media (max-width: 900px) {
  .header__menu {
    position: absolute;
    padding-left: 35px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    transform: translateY(-250px);
    transition: all 0.5s ease;
  }
}
.header__link {
  display: inline-block;
  color: #fff;
  margin-right: 53px;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link:hover {
  color: #CAFF5E;
  border-bottom: 3px solid #CAFF5E;
  transition: all 0.2s ease;
}
@media (max-width: 1440px) {
  .header__link {
    margin-right: 30px;
  }
}
.header__contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: flex-end;
  margin-right: 36px;
}
@media (max-width: 1300px) {
  .header__contacts {
    display: none;
  }
}
.header__contacts-link {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  transition: 0.3s;
}
.header__contacts-link:hover {
  color: #CAFF5E;
}
.header__contacts--hidden {
  display: none;
}
@media (max-width: 900px) {
  .header__contacts--hidden {
    display: block;
  }
  .header__contacts--hidden .header__contacts-link {
    display: block;
    margin-top: 15px;
  }
}
.header__wrapper {
  display: flex;
}
@media (max-width: 900px) {
  .header__button a {
    font-size: 0px;
    padding: 0;
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 900px) {
  .header__button {
    position: relative;
  }
}
.phone__icon {
  display: none;
}
@media (max-width: 900px) {
  .phone__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.page__pagination {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .page__pagination {
    display: none;
  }
}
.page__bullet {
  width: 10px;
  height: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  margin: 8px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__bullet_active {
  margin: 20px 0;
  border: 5px solid #CAFF5E;
  width: 38px;
  height: 38px;
  transform: translateX(-19px);
}
.page__bullet--number {
  display: none;
  color: white;
}
.page__bullet_active .page__bullet--number {
  display: block;
  font-weight: 800;
  font-size: 16px;
}
.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.production {
  background: #575758;
}
.constructions {
  background: #747564;
}
.services {
  background: #101940;
}
.advantages {
  background: #618374;
}
.warranty {
  background: #874878;
}
.about {
  background: #797978;
}
.projects {
  background: #807947;
}
.contacts {
  background: #486794;
}
.footer {
  background: #254298;
}
.burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
}
@media (max-width: 900px) {
  .burger {
    display: block;
  }
}
.burger:before,
.burger:after {
  content: "";
  background-color: #CAFF5E;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.burger:before {
  top: 0;
  transition: all 0.3s;
}
.burger:after {
  bottom: 0;
  transition: all 0.3s;
}
.burger.active:before {
  transform: rotate(45deg);
  top: 9px;
  transition: all 0.3s;
}
.burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
  transition: all 0.3s;
}
.container {
  max-width: 1195px;
  margin: 0 auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #E5E5E5;
}
.color--secondary {
  color: #CAFF5E;
}
