// main: ../css/style.less

.btn {
   &__text {
      color: #ffffff;
      text-decoration: none; 
      display: block;
      padding: 12px 57px;
      border: 1px solid @secondary;
      border-radius: 57px;
      font-size: 14px;
      background: #42464e;
      transition: all 0.2s ease;
      &:hover {
         background: @secondary;
         color: @primary;
         transition: all 0.2s ease;

      }
      @media @maw900 {
         &:hover {
            background: none;
         }
      }
   }
}

.request-btn {
   position: relative;
   text-decoration: none;
   font-weight: 700;
   font-size: 24px;
   max-width:320px;
   display: inline-block;
  
   @media @maw414 {
      font-size: 13px;
      max-width: 89px;
   }
   &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      width: 77px;
      height: 77px;
      border-radius: 50%;
      background: @secondary;
      transition: all 0.2s ease;
      @media @maw414 {
         width: 34px;
         height: 34px;
         right: -50px;
      }
   }
   &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: transparent;
      border-top: 3px solid @primary;
      border-right: 3px solid @primary;
      position: absolute;
      right: 40px;
      top: 50%;
      transform-origin: center center;
      transform: rotate(45deg) translateY(-50%);
      z-index: 10;
      @media @maw414 {
         width: 10px;
         height: 10px;
         right: -32px;
         border-width: 2px;
      }
   }
}
.main-btn {
   font-size: 14px;
   height: 50px;
   border-radius: 30px;
   display: flex;
   align-items: center;
   border-radius: 30px 0 0 30px;
   background: #fff;
   @media @maw414 {
        margin-bottom: 10px;
        max-width: none;
   }
   &::after {
      right: -23.5px;
      width: 50px;
      height: 50px;

   }
   &::before {
      right: 2px;
      width: 10px;
      height: 10px;
      border-color: #fff;
      border-width: 2px;
   }
   &:hover {
      transition: all 0.2s ease;
      background: @secondary;
      &::after {
         background: @primary;
         transition: all 0.2s ease;
      }
      &::before {
         border-color: @light;
         transition: all 0.2s ease;
      }
   }
   &__text {
      border-radius: 30px 0 0 30px;
      padding: 17px 45px 17px 23px;
      transition: all 0.3s ease;
      @media @maw900 {
         font-size: 12px;
      }
      
      &:hover {
         background: @secondary;
         transition: all 0.2s ease;
      }
   }
   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 343px;
      color: @black;
      @media @maw414 {
         font-size: 12px;
      }
      @media @maw320 {
         flex-direction: column;
         align-items: baseline;
      }
   }
}
.warranty-btn {
   color: @black;
   &::after {
      background: @black;
   }
   &::before {
      border-color: @secondary;
   }
   @media @maw1440 {
      margin-right: 34px;
   }
}

.swiper-btn-body {
   width: 70px;
   height: 70px;
   position: absolute;
   z-index: 50;
   top: 30%;
   @media @maw1440 {
      width: 40px;
      height: 40px;
      background-size: cover;
   }
}
.swiper-btn-next {
   .swiper-btn-body;
   background-image: url('../img/right-arrow.svg');
   right: 0;
   transform: translateX(10%);
   @media @maw1440 {
      transform: translateX(0);
      right: 5%;
   }

}
.swiper-btn-prev {
   .swiper-btn-body;
   background-image: url('../img/left-arrow.svg');
   left: 0;
   transform: translateX(-50%);
   @media @maw1440 {
      transform: translateX(0);
      left: 5%;
   }

}


.swiper {
   &__pagination {
      display: none;
      @media @maw1440 {
         position: absolute;
         right: 50%;
         transform: translateX(50%);
         bottom: -80px;
         display: flex;
         align-items: center;
      }
      @media @maw500 {
         bottom: -35px;
      }
   }
   &__bullet {
      width: 10px;
      height: 10px;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50%;
      transition: background-color 0.3s ease 0s;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      &_active {
         border: 5px solid @secondary;
         width: 38px;
         height: 38px;
      }
      &--number {
         display: none;
         color: @black;
      }
      &_active .swiper__bullet--number {
         display: block;
         font-weight: 800;
         font-size: 16px;
      }
   }   
}

// .to-top-btn {
//    display: block;
//    position: fixed;
//    left: 30px;
//    bottom: 180px;
//    width: 50px;
//    height: 50px;
//    border: 5px solid fadeout(@primary, 85%);
//    box-sizing: border-box;
//    border-radius: 50%;
//    transform: rotate(90deg);
//    background-size: cover;
//    z-index: 40;
//    transition: all 0.4s ease;
//    &::before {
//       content: '';
//       display: block;
//       width: 5px;
//       height: 5px;
//       border: 3px solid transparent;
//       border-left-color: fadeout(@primary, 85%);
//       border-top-color: fadeout(@primary, 85%);
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform-origin: center;
//       transform: translate(-20%, -50%) rotate(-45deg) ;

//    }
// }
