// main: ../css/style.less


.preview {
   position: relative;
   background: @primary;
   border-radius: 0 0 100px 100px;
   background-image: url('../img/header-bg.png');
   background-repeat: no-repeat;
   background-position: 32% 0;
   color: #fff;
   &__suptitle {
      font-weight: 700;
      position: relative;
      padding: 22px 0;
      &::before {
         content: '';
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         background: @secondary;
         width: 59px;
         height: 9px;
         border-radius: 37px;
      }
   }
   &__title {
      font-weight: 800;
      font-size: 78px;
      max-width: 776px;
      line-height: 1.36;
   }
   &__subtitle {
      font-size: 18px;
      font-weight: 400;
      max-width: 500px;
      line-height: 1.59;
      margin-bottom: 40px;
      margin-top: 52px;
   }
   &__content {
      margin-left: auto;
      max-width: fit-content;
      padding-top: 203px;
   }
   &__container {
      max-width: 435px;
      margin: 0 auto;
   }
}

.round-scroll {
   width: 160px;
   height: 160px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   transform: translateY(50%);
}
